<section class="s1">
  <div class="card-img">
    <img src="../../assets/img/diapoo.PNG" alt="">
  </div>
  <div class="card-register">
    <form class="form" action="register.php" method="POST" enctype="multipart/form-data">
      <h2 class="title"> Registro</h2>
      <p class="subtitle">Ya tienes cuenta? <a routerLink="/Login"> Log in</a></p>
      <p class="or"><span>o</span></p>
      <div class="email-login">
        <label for="Name"> <b>Nombre</b></label>
        <input type="text" maxlength="15" placeholder="Name" name="name" required>
        <label for="email"> <b>Email</b></label>
        <input type="email" placeholder=" Email" name="email" required>
        <label for="psw"><b>Contraseña</b></label>
        <input type="password" placeholder=" Contraseña" name="password" required>
        <div class="choose_image">
          <span> Elige una foto de perfil</span>
          <input id="imagen" name="imagen" size="30" type="file" />
        </div>
        <button class="main-button cta-btn " type="submit" value="Submit">Enviar</button>
      </div>
    </form>
  </div>
</section>
