$color_1: black;
$color_2: rgb(173, 170, 170);
$color_3: var(--morado);
$color_4: white;
$color_5: #fff;
$color_6: red;
$color_7: rgb(157, 141, 226);
$font-family_1: "Steinbeck";
$font-family_2: "circular";
$font-family_3: "Rubik";
$font-family_4: var(--rubik);
$background-color_1: rgb(255, 255, 255);
$background-color_2: white;
$background-color_3: #f7f7f8;
$background-color_4: #acb3c713;
$background-color_5: rgb(224, 218, 236);
$background-color_6: rgba(236, 233, 233, 0.295);
$background-color_7: rgba(204, 200, 255, 0.212);

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $color_1;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 18vh;
  position: fixed;
  background-color: $background-color_1;
  top: 0px;
  left: 0px;
  padding: 1%;
  transition: all 0.5s;
  z-index: 3;
  -webkit-box-shadow: 0px 6px 24px 6px #ece5e5da;
  box-shadow: 0px 6px 15px 6px #c7c7c731;
  display: flex;
  justify-content: space-evenly;
}

.aline {
  width: 140px;
  height: 45px;
  margin-top: 9%;
  i {
    margin-left: 7%;
  }
}

.logo_picture {
  margin-left: 27%;
  width: 200px;
}
.menu_desk {
  display: none;
}

.box_buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: top;
  button {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
  }
}
.log-in {
  width: 70px;
  height: 20px;
  background-color: $background-color_2;
  margin-top: 30px;
  margin-right: 10px;
  font-family: $font-family_2;
  border: none;
  a {
    font-size: 20px;
    color: $color_1;
    transition: all 0.2s;
    &:hover {
      color: $color_3;
      transition: all 0.2s;
    }
  }
}

.main-button {
  background-image: linear-gradient(
    to right,
    #6363d3 0%,
    #1e287c 51%,
    #5454ee 100%
  );
  text-align: center;
  font-family: $font-family_2;
  transition: 0.5s;
  border-radius: 35px !important;
  background-size: 200% auto;
  color: $color_4;
  display: block;
  cursor: pointer;
  border-bottom: 5px solid rgb(148, 138, 243);
  border-right: 5px solid rgb(148, 138, 243);
  border-left: 5px solid rgb(148, 138, 243);
  border-top: 5px solid rgb(148, 138, 243);
  &:hover {
    background-position: right center;
    color: $color_5;
    text-decoration: none;
  }
  a {
    color: $color_4;
  }
}

/* Nav menu */
.menu_mob {
  width: 100%;
  display: none;
  height: 29%;
  position: fixed;
  top: 85px;
  right: 0.5px;
  background-color: #ffffff;
  overflow: hidden;
}

.mob a {
  display: block;
  padding: 30px;
  border: thin solid rgb(247, 245, 245);
  font-size: 26px;
  color: $color_1;
  font-family: $font-family_1;
}

.menu_mob {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  display: none;
  padding: 15px;
  margin-left: 0px;
  margin-top: 19px;
}

.hamb-line {
  background: rgb(128, 108, 216);
  display: block;
  height: 2px;
  display: none;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: rgb(128, 108, 216);
  content: "";
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.menu_mob {
  display: block;
  width: 100%;
  height: 29%;
  position: fixed;
  top: 130px;
  right: 0.5px;
  background-color: #ffffff;
  overflow: hidden;
}
.hamb {
  display: block;
}
.hamb-line {
  display: block;
}

@media only screen and (max-width: 360px) {
  header {
    width: 100%;
    height: 18vh;
    position: fixed;
    background-color: $background-color_1;
    top: 0px;
    left: 0px;
    padding: 1%;
    transition: all 0.5s;
    z-index: 3;
    -webkit-box-shadow: 0px 6px 24px 6px #ece5e5da;
    box-shadow: 0px 6px 15px 6px #c7c7c731;
    display: flex;
    justify-content: space-between;
  }

  .aline {
    width: 100px;
    height: 40px;
    margin-top: 9%;
    i {
      margin-left: 7%;
    }
  }

  .logo_picture {
    margin-left: 10px;
    width: 100px;
  }
  .menu_desk {
    display: none;
  }

  .box_buttons {
    margin-top: 10px;
    display: flex;
    align-items: top;
    button {
      font-size: 12px;
      display: flex;
    }
  }
  .log-in {
    width: 50px;
    height: 20px;
    background-color: $background-color_2;
    margin-top: 30px;
    font-family: $font-family_2;
    border: none;
    a {
      font-size: 16px;
      color: $color_1;
      transition: all 0.2s;
      &:hover {
        color: $color_3;
        transition: all 0.2s;
      }
    }
  }

  .main-button {
    background-image: linear-gradient(
      to right,
      #6363d3 0%,
      #1e287c 51%,
      #5454ee 100%
    );
    text-align: center;
    font-family: $font-family_2;
    transition: 0.5s;
    border-radius: 35px;
    background-size: 200% auto;
    color: $color_4;
    display: block;
    cursor: pointer;
    border-bottom: 5px solid rgb(148, 138, 243);
    border-right: 5px solid rgb(148, 138, 243);
    border-left: 5px solid rgb(148, 138, 243);
    border-top: 5px solid rgb(148, 138, 243);
    &:hover {
      background-position: right center;
      color: $color_5;
      text-decoration: none;
    }
    a {
      color: $color_4;
    }
  }
  /* Nav menu */
  .menu_mob {
    width: 100%;
    display: none;
    height: 29%;
    position: fixed;
    top: 85px;
    right: 0.5px;
    background-color: #ffffff;
    overflow: hidden;
  }

  .mob a {
    display: block;
    padding: 30px;
    border: thin solid rgb(247, 245, 245);
    font-size: 26px;
    color: $color_1;
    font-family: $font-family_1;
  }

  .menu_mob {
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }

  /* Menu Icon */

  .hamb {
    cursor: pointer;
    display: none;
    padding: 15px;
    margin-left: 0px;
    margin-top: 19px;
  }

  .hamb-line {
    background: rgb(128, 108, 216);
    display: block;
    height: 2px;
    display: none;
    position: relative;
    width: 24px;
  }

  .hamb-line::before,
  .hamb-line::after {
    background: rgb(128, 108, 216);
    content: "";
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .hamb-line::before {
    top: 5px;
  }

  .hamb-line::after {
    top: -5px;
  }

  .side-menu {
    display: none;
  }

  /* Toggle menu icon */

  .side-menu:checked ~ nav {
    max-height: 100%;
  }

  .side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
  }

  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }

  .menu_mob {
    display: block;
    width: 100%;
    height: 29%;
    position: fixed;
    top: 130px;
    right: 0.5px;
    background-color: #ffffff;
    overflow: hidden;
  }
  .hamb {
    display: block;
  }
  .hamb-line {
    display: block;
  }
}

/*Mobile*/
@media (min-width: 361px) and (max-width: 576px) {
  header {
    width: 100%;
    height: 18vh;
    position: fixed;
    background-color: $background-color_1;
    top: 0px;
    left: 0px;
    padding: 1%;
    transition: all 0.5s;
    z-index: 3;
    -webkit-box-shadow: 0px 6px 24px 6px #ece5e5da;
    box-shadow: 0px 6px 15px 6px #c7c7c731;
    display: flex;
    justify-content: space-around;
  }

  .aline {
    width: 140px;
    height: 45px;
    margin-top: 9%;
    i {
      margin-left: 7%;
    }
  }

  .logo_picture {
    width: 150px;
  }
  .menu_desk {
    display: none;
  }

  .box_buttons {
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
    align-items: top;
    button {
      font-size: 20px;
      display: flex;
      flex-wrap: wrap;
      margin-right: 10px;
      justify-content: center;
      align-items: center;
    }
  }
  .log-in {
    width: 70px;
    height: 20px;
    background-color: $background-color_2;
    margin-top: 30px;
    margin-right: 3px;
    font-family: $font-family_2;
    border: none;
    a {
      font-size: 18px;
      color: $color_1;
      transition: all 0.2s;
      &:hover {
        color: $color_3;
        transition: all 0.2s;
      }
    }
  }

  .main-button {
    background-image: linear-gradient(
      to right,
      #6363d3 0%,
      #1e287c 51%,
      #5454ee 100%
    );
    text-align: center;
    font-family: $font-family_2;
    transition: 0.5s;
    border-radius: 35px !important;
    background-size: 200% auto;
    color: $color_4;
    display: block;
    cursor: pointer;
    border-bottom: 5px solid rgb(148, 138, 243);
    border-right: 5px solid rgb(148, 138, 243);
    border-left: 5px solid rgb(148, 138, 243);
    border-top: 5px solid rgb(148, 138, 243);
    &:hover {
      background-position: right center;
      color: $color_5;
      text-decoration: none;
    }
    a {
      color: $color_4;
    }
  }
  /* Nav menu */
  .menu_mob {
    width: 100%;
    display: none;
    height: 29%;
    position: fixed;
    top: 85px;
    right: 0.5px;
    background-color: #ffffff;
    overflow: hidden;
  }

  .mob a {
    display: block;
    padding: 30px;
    border: thin solid rgb(247, 245, 245);
    font-size: 26px;
    color: $color_1;
    font-family: $font-family_1;
  }

  .menu_mob {
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }

  /* Menu Icon */

  .hamb {
    cursor: pointer;
    display: none;
    padding: 15px;
    margin-left: 0px;
    margin-top: 19px;
  }

  .hamb-line {
    background: rgb(128, 108, 216);
    display: block;
    height: 2px;
    display: none;
    position: relative;
    width: 24px;
  }

  .hamb-line::before,
  .hamb-line::after {
    background: rgb(128, 108, 216);
    content: "";
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .hamb-line::before {
    top: 5px;
  }

  .hamb-line::after {
    top: -5px;
  }

  .side-menu {
    display: none;
  }

  /* Toggle menu icon */

  .side-menu:checked ~ nav {
    max-height: 100%;
  }

  .side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
  }

  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }

  .menu_mob {
    display: block;
    width: 100%;
    height: 29%;
    position: fixed;
    top: 130px;
    right: 0.5px;
    background-color: #ffffff;
    overflow: hidden;
  }
  .hamb {
    display: block;
  }
  .hamb-line {
    display: block;
  }
}

/*Tablet*/
@media (min-width: 577px) and (max-width: 990px) {
  header {
    width: 100%;
    height: 18vh;
    position: fixed;
    background-color: $background-color_1;
    top: 0px;
    left: 0px;
    padding: 1%;
    transition: all 0.5s;
    z-index: 3;
    -webkit-box-shadow: 0px 6px 24px 6px #ece5e5da;
    box-shadow: 0px 6px 15px 6px #c7c7c731;
    display: flex;
    justify-content: space-evenly;
  }

  .aline {
    width: 140px;
    height: 45px;
    margin-top: 9%;
    i {
      margin-left: 7%;
    }
  }

  .logo_picture {
    margin-left: 27%;
    width: 200px;
  }
  .menu_desk {
    visibility: hidden;
  }

  .box_buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: top;
    button {
      font-size: 16px;
      display: flex;
      flex-wrap: wrap;
      margin-right: 10px;
      justify-content: center;
      align-items: center;
    }
  }
  .log-in {
    width: 70px;
    height: 20px;
    background-color: $background-color_2;
    margin-top: 30px;
    margin-right: 10px;
    font-family: $font-family_2;
    border: none;
    a {
      font-size: 20px;
      color: $color_1;
      transition: all 0.2s;
      &:hover {
        color: $color_3;
        transition: all 0.2s;
      }
    }
  }

  .main-button {
    background-image: linear-gradient(
      to right,
      #6363d3 0%,
      #1e287c 51%,
      #5454ee 100%
    );
    text-align: center;
    font-family: $font-family_2;
    transition: 0.5s;
    border-radius: 35px;
    background-size: 200% auto;
    color: $color_4;
    display: block;
    cursor: pointer;
    border-bottom: 5px solid rgb(148, 138, 243);
    border-right: 5px solid rgb(148, 138, 243);
    border-left: 5px solid rgb(148, 138, 243);
    border-top: 5px solid rgb(148, 138, 243);
    &:hover {
      background-position: right center;
      color: $color_5;
      text-decoration: none;
    }
    a {
      color: $color_4;
    }

    /* Nav menu */
    .menu_mob {
      width: 100%;
      display: none;
      height: 29%;
      position: fixed;
      top: 85px;
      right: 0.5px;
      background-color: $background-color_1;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s ease-out;
    }
    .mob {
      a {
        display: block;
        padding: 30px;
        border: thin solid rgb(247, 245, 245);
        font-size: 26px;
        color: $color_1;
        font-family: $font-family_1;
      }
    }

    /* Menu Icon */
    .hamb {
      cursor: pointer;
      display: none;
      padding: 15px;
      margin-left: 0px;
      margin-top: 19px;
    }

    .hamb-line {
      background: rgb(128, 108, 216);
      display: block;
      height: 2px;
      display: none;
      position: relative;
      width: 24px;
    }

    .hamb-line::before,
    .hamb-line::after {
      background: rgb(128, 108, 216);
      content: "";
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
    }

    .hamb-line::before {
      top: 5px;
    }

    .hamb-line::after {
      top: -5px;
    }

    .side-menu {
      display: none;
    }

    /* Toggle menu icon */
    .side-menu:checked ~ nav {
      max-height: 100%;
    }

    .side-menu:checked ~ .hamb .hamb-line {
      background: transparent;
    }

    .side-menu:checked ~ .hamb .hamb-line::before {
      transform: rotate(-45deg);
      top: 0;
    }

    .side-menu:checked ~ .hamb .hamb-line::after {
      transform: rotate(45deg);
      top: 0;
    }

    .menu_mob {
      display: block;
      width: 100%;
      height: 29%;
      position: fixed;
      top: 130px;
      right: 0.5px;
      background-color: #ffffff;
      overflow: hidden;
    }
    .hamb {
      display: block;
    }
    .hamb-line {
      display: block;
    }
  }
}

/*landscape*/
@media (min-width: 991px) and (max-width: 1023px) and (orientation: landscape) {
  header {
    width: 100%;
    height: 14vh;
    position: fixed;
    background-color: $background-color_1;
    top: 0px;
    left: 0px;
    padding: 1%;
    transition: all 0.5s;
    z-index: 3;
    -webkit-box-shadow: 0px 6px 24px 6px #ece5e5da;
    box-shadow: 0px 6px 15px 6px #c7c7c731;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .aline {
    width: 140px;
    height: 45px;
    margin-top: 9%;
    i {
      margin-left: 7%;
    }
  }

  .logo_picture {
    width: 200px;
  }
  .menu_desk {
    width: 50%;
    height: 38px;
    margin-top: 48px;
    display: flex;
    justify-content: flex-end;

    a {
      font-size: 24px;
      font-weight: 500;
      margin-right: 28px;
      color: $color_1;
      transition: all 0.5s;
      font-family: $font-family_1;
      &:hover {
        color: $color_2;
      }
    }
  }
  .box_buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: top;
    button {
      font-size: 16px;
      display: flex;
      flex-wrap: wrap;
      margin-right: 20px;
      justify-content: center;
      align-items: center;
    }
  }
  .log-in {
    width: 70px;
    height: 20px;
    background-color: $background-color_2;
    margin-top: 45px;
    margin-right: 10px;
    font-family: $font-family_2;
    border: none;
    a {
      font-size: 20px;
      color: $color_1;
      transition: all 0.2s;
      &:hover {
        color: $color_3;
        transition: all 0.2s;
      }
    }
  }

  .main-button {
    background-image: linear-gradient(
      to right,
      #6363d3 0%,
      #1e287c 51%,
      #5454ee 100%
    );
    text-align: center;
    font-family: $font-family_2;
    transition: 0.5s;
    border-radius: 35px !important;
    background-size: 200% auto;
    color: $color_4;
    display: block;
    cursor: pointer;
    border-bottom: 5px solid rgb(148, 138, 243);
    border-right: 5px solid rgb(148, 138, 243);
    border-left: 5px solid rgb(148, 138, 243);
    border-top: 5px solid rgb(148, 138, 243);
    &:hover {
      background-position: right center;
      color: $color_5;
      text-decoration: none;
    }
    a {
      color: $color_4;
    }
  }

  // Menu movil
  .menu_mob {
    display: none;
  }
  .side-menu {
    display: none;
  }
  .hamb {
    display: none;
  }
}
/*fin tablet*/

/* Tamaño pantallas Escritorio inferior (1024)  superior 991*/
@media all and (min-width: 991px) and (max-width: 1023px) {
  header {
    width: 100%;
    height: 18vh;
    position: fixed;
    background-color: $background-color_1;
    top: 0px;
    left: 0px;
    padding: 1%;
    transition: all 0.5s;
    z-index: 3;
    -webkit-box-shadow: 0px 6px 24px 6px #ece5e5da;
    box-shadow: 0px 6px 15px 6px #c7c7c731;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .aline {
    width: 140px;
    height: 45px;
    margin-top: 9%;
    i {
      margin-left: 7%;
    }
  }

  .logo_picture {
    width: 200px;
  }
  .menu_desk {
    width: 50%;
    height: 38px;
    margin-top: 48px;
    display: flex;
    justify-content: flex-end;

    a {
      font-size: 24px;
      font-weight: 500;
      margin-right: 28px;
      color: $color_1;
      transition: all 0.5s;
      font-family: $font-family_1;
      &:hover {
        color: $color_2;
      }
    }
  }
  .box_buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: top;
    button {
      font-size: 16px;
      display: flex;
      flex-wrap: wrap;
      margin-right: 20px;
      justify-content: center;
      align-items: center;
    }
  }
  .log-in {
    width: 70px;
    height: 20px;
    background-color: $background-color_2;
    margin-top: 35px;
    margin-right: 10px;
    font-family: $font-family_2;
    border: none;
    a {
      font-size: 20px;
      color: $color_1;
      transition: all 0.2s;
      &:hover {
        color: $color_3;
        transition: all 0.2s;
      }
    }
  }

  .main-button {
    background-image: linear-gradient(
      to right,
      #6363d3 0%,
      #1e287c 51%,
      #5454ee 100%
    );
    text-align: center;
    font-family: $font-family_2;
    transition: 0.5s;
    border-radius: 35px !important;
    background-size: 200% auto;
    color: $color_4;
    display: block;
    cursor: pointer;
    border-bottom: 5px solid rgb(148, 138, 243);
    border-right: 5px solid rgb(148, 138, 243);
    border-left: 5px solid rgb(148, 138, 243);
    border-top: 5px solid rgb(148, 138, 243);
    &:hover {
      background-position: right center;
      color: $color_5;
      text-decoration: none;
    }
    a {
      color: $color_4;
    }
  }

  // Menu movil
  .menu_mob {
    display: none;
  }
  .side-menu {
    display: none;
  }
  .hamb {
    display: none;
  }
}

/* Tamaño pantallas Escritorio superior (1024) */
@media screen and (min-width: 1024px) {
  header {
    width: 100%;
    height: 18vh;
    position: fixed;
    background-color: $background-color_1;
    top: 0px;
    left: 0px;
    padding: 1%;
    transition: all 0.5s;
    z-index: 3;
    -webkit-box-shadow: 0px 6px 24px 6px #ece5e5da;
    box-shadow: 0px 6px 15px 6px #c7c7c731;
    display: flex;
    justify-content: space-around;
  }
  .aline {
    width: 140px;
    height: 45px;
    margin-top: 9%;
    i {
      margin-left: 7%;
    }
  }

  .logo_picture {
    width: 200px;
  }
  .menu_desk {
    width: 50%;
    height: 38px;
    margin-top: 48px;
    display: flex;
    justify-content: flex-end;

    a {
      font-size: 24px;
      font-weight: 500;
      margin-right: 28px;
      color: $color_1;
      transition: all 0.5s;
      font-family: $font-family_1;
      &:hover {
        color: $color_2;
      }
    }
  }
  .box_buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: top;
    button {
      font-size: 16px;
      display: flex;
      flex-wrap: wrap;
      margin-right: 20px;
      justify-content: center;
      align-items: center;
    }
  }
  .log-in {
    width: 70px;
    height: 20px;
    background-color: $background-color_2;
    margin-top: 35px;
    margin-right: 10px;
    font-family: $font-family_2;
    border: none;
    a {
      font-size: 20px;
      color: $color_1;
      transition: all 0.2s;
      &:hover {
        color: $color_3;
        transition: all 0.2s;
      }
    }
  }

  .main-button {
    background-image: linear-gradient(
      to right,
      #6363d3 0%,
      #1e287c 51%,
      #5454ee 100%
    );
    text-align: center;
    font-family: $font-family_2;
    transition: 0.5s;
    border-radius: 35px !important;
    background-size: 200% auto;
    color: $color_4;
    display: block;
    cursor: pointer;
    border-bottom: 5px solid rgb(148, 138, 243);
    border-right: 5px solid rgb(148, 138, 243);
    border-left: 5px solid rgb(148, 138, 243);
    border-top: 5px solid rgb(148, 138, 243);
    &:hover {
      background-position: right center;
      color: $color_5;
      text-decoration: none;
    }
    a {
      color: $color_4;
    }
  }

  // Menu movil
  .menu_mob {
    display: none;
  }
  .side-menu {
    display: none;
  }
  .hamb {
    display: none;
  }
}
