/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/*
==============================
General Styles
==============================
*/

body {
  color: #4a4a4a;
  background-color: #fff;
  &.modal-open {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}
body a,
body a:hover,
body a:focus,
body a:active {
  text-decoration: none;
  color: inherit;
}
div,
input,
textarea,
button:active,
button:focus,
.btn,
button,
a[type="button"] {
  outline: 0;
}
.btn.focus,
.btn:focus {
  box-shadow: 0 0 0 0;
}
ul li,
ul {
  margin: 0;
  padding: 0;
}
.wrapper,
.m-layaout {
  padding-left: 30px;
  padding-right: 30px;
}
.relative {
  position: relative;
}
.grecaptcha-badge {
  right: -300px !important;
}
a:hover {
  color: inherit;
}
.site-footer ul li,
.site-footer li {
  list-style: none;
}
.z-index-11 {
  z-index: 11;
}
.z-index-21 {
  z-index: 21;
}
.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  z-index: 10;
}
.btn {
  background-image: none;
  text-align: center;
  width: auto;
  border-radius: 0;
  border-style: solid;
  font-size: 1em;
  font-family: "Lato", sans-serif;
}
.fc-adminbar {
  font-family: "Quicksand", sans-serif;
}
.content-buscador-mobile > form > input[type="search"] {
  width: 100% !important;
  border: unset !important;
  background-color: unset !important;
  border-bottom: 1px solid #c2171f !important;
  border-radius: unset !important;
}
.content-buscador > form > input[type="search"] {
  width: 100% !important;
  border: unset !important;
  background-color: unset !important;
  /* border-bottom: 1px solid #fff!important; */
  border-radius: unset !important;
  padding: 0px !important;
  max-height: 32px;
  padding-top: 7px !important;
}
.content-buscador > form > input[type="search"]::placeholder {
  color: #fff;
}
.content-buscador-mobile > form > input[type="search"]::placeholder {
  color: #c2171f;
}

/* AJUSTES PARA APARIENCIA DE BOTON PARA IPHONE */
@supports (-webkit-touch-callout: none) {
  input[type="submit"],
  button {
    -webkit-appearance: none;
    -webkit-border-radius: 0px !important;
    -webkit-border: 0px !important;
  }
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0px !important;
  -webkit-border: 0px !important;
  border-radius: 0px !important;
}
button {
  -webkit-appearance: none !important;
  -webkit-border-radius: 0px !important;
}
button {
  -webkit-appearance: none !important;
  -webkit-border-radius: 0px !important;
}
.slick-dots > li > button {
  -webkit-border-radius: 20px !important;
}
/* AJUSTES PARA APARIENCIA DE BOTON PARA IPHONE */

/*
==============================
General Styles - Media Queries
==============================
*/

@media (min-width: 992px) {
  .wrapper,
  .m-layaout {
    padding-left: 7%;
    padding-right: 7%;
  }
  .wrapper-video-home {
    padding-left: 8%;
    padding-right: 8%;
  }
  .wrapper-especial-products {
    padding-left: 7%;
    padding-right: 7%;
  }
  .wrapper-grid-recipes {
    padding-left: 8.4%;
    padding-right: 8.4%;
  }
}
@media (min-width: 1200px) {
  .wrapper,
  .m-layaout {
    padding-left: 7%;
    padding-right: 7%;
  }
  .wrapper-video-home {
    padding-left: 8%;
    padding-right: 8%;
  }
  .wrapper-especial-products {
    padding-left: 7%;
    padding-right: 7%;
  }
  .wrapper-grid-recipes {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media (min-width: 1400px) {
  .wrapper,
  .m-layaout {
    padding-left: 9%;
    padding-right: 9%;
  }
  .wrapper-video-home {
    padding-left: 10%;
    padding-right: 10%;
  }
  .wrapper-especial-products {
    padding-left: 9%;
    padding-right: 9%;
  }
  .wrapper-grid-recipes {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 1600px) {
  .wrapper,
  .m-layaout {
    padding-left: 12%;
    padding-right: 12%;
  }
  .wrapper-video-home {
    padding-left: 12.8%;
    padding-right: 12.8%;
  }
  .wrapper-especial-products {
    padding-left: 12%;
    padding-right: 11%;
  }
  .wrapper-grid-recipes {
    padding-left: 12.7%;
    padding-right: 13%;
  }
}
@media (min-width: 992px) {
  .m-layaout {
    padding-left: 7%;
  }
}

@media (min-width: 1200px) {
  .m-layaout {
    padding-left: 7%;
  }
}

@media (min-width: 1400px) {
  .m-layaout {
    padding-left: 9%;
  }
}

@media (min-width: 1600px) {
  .m-layaout {
    padding-left: 17%;
  }
}

/* WRAPPER MOBILE */
@media (max-width: 991px) {
  .wrapper-mobile-sm {
    padding-left: 45px;
    padding-right: 45px;
  }
}

.widget_nav_menu,
#menu-tienda {
  list-style-type: none;
}
.menu-item .current-menu-item a {
  font-weight: 700 !important;
  color: #1b5a26 !important;
}
.menu-item:nth-last-child() .current-menu-item a {
  font-weight: 700 !important;
  color: #fff !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

